Sudoku/target
.idea
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/target/
/Sudoku/Sudoku.iml
/Sudoku/dokumentaatio/katselmointi.md
/Sudoku/dokumentaatio/sekvenssikaaviot.md
/Sudoku/sudoku.db